body{
    background-color: #0d102a;
    margin: 0px;
    padding: 0px;
}

.outer{
    transition: all ease-in-out 1s;
}

.outer-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

#main-containt{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}
.carousel{
    position: absolute;
	left: 2%;
	width: 70%;
	height: auto;
	display: flex;
	flex-direction: row;
	overflow: visible;
	justify-content: space-around;
}
.carousel img{
    margin: 1%;
    height: 15vw;
	width: 22.5vw;
	transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}

.carousel img:hover {
	z-index: 4;
	box-shadow: 0px 0px 12px 0.1px white;
	height: 18vw;
	width: 25vw;
}
.col-4{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-image: url("wes-hicks-MEL-jJnm7RQ-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
aside{
    position: relative;
    left: 8%;
    margin-top: 13px;
    height: 800px;
    width:23%;
}
.top{
    display: flex;
    justify-content: space-between;
}
.top h2{
    font-weight: 700;
}
.top button{
    text-decoration: none;
    margin-top: 2%;
    font-weight: 500;
}
.list-item{
    display: grid;
    grid-template-columns: 70% 25%;
    align-items: center;
    color: white;
     
}
.list-item img{
    height: 25%;
    width: 25%;
    margin-right: 4%;
}
.text-part{
    display: flex;
    margin-top: 10px;
    margin-left: -10px;
}
.song-description{
    font-size: small;
}
.like-button a{
    margin-left: 50px;
    text-decoration: none;
    color: white;
}
.like-button a:hover{
    color: red;
}

/* Latest release */
#latest-release{
    position: relative;
    margin-top: -35rem;
    margin-left: 1.5%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    height: 18rem;
    width: 60rem;
}
.section-heading{
    color: white;
    font-size: larger;
    font-weight: 500;
}
#lr-container{
    margin-top: 1rem;
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    row-gap: -0px;
    column-gap: 50px;
}
.lr-item{
    margin-top: 2rem;
    height: 7rem;
    width: 25rem;
    /* border: 1px solid red; */
    justify-content: center;
    display: grid;
    grid-template-columns: 25% 25% 50%;
}
.album-img img{
    height: 6rem;
    width: 6rem;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    left: 100%;
    transform: translate(35%, -200%);
  }
  
  .album-img:hover .image {
    opacity: 0.3;
  }
  
  .album-img:hover .middle {
    opacity: 1;
  }

.album-description{
    font-size: small;
    font-weight: 700;
    color: white;
    margin-left: 0.5rem;
}
.date{
    font-size: smaller;
    font-weight: 600;
}
.lr-option{
    color: white;
    text-align: right;
    text-decoration: none;
}
.lr-option i{
    color: white;
}



/* Popular Artist section */
#popular-artist{
    position: relative;
    margin-top: 1%;
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 60rem;
}
#diff-artist{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    /* margin-left: -8rem; */
}
#diff-artist div .artist-img img{
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
}
#diff-artist div .artist-name{
    /* border-radius: 50%; */
    margin-top: 0.5rem;
    height: 1rem;
    width: 6rem;
    text-align: center;
}


/* Genere */
#genre{
    position: relative;
    margin-left: 1.5%;
    display: flex;
    height: 15rem;
    width: 60rem;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    align-items: center;
}
.diff-genre{
    /* border: 1px solid red; */
    height: 12rem;
    width: 18rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.genre-name{
    color: white;
    font-weight: 700;
    font-size: large;
    position: absolute;
    left: 35%;
    top: 45%;
}
.diff-genre img{
    opacity: 0.5;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.diff-genre img:hover{
    transform: scale(1.3);
}



/* New Hindi and English release */
#new-hindi-release{
    margin-top: 1rem; ;
    margin-left: 1.5%;
    height: 15rem;
    width: 60rem;
    /* border: 1px solid red; */
}
.containt-box{
    margin-top: -1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.containt{
    display: grid;
    grid-template-rows: 70% 30%;
    height: 11rem;
    width: 8rem;
    /* border: 1px solid red; */
}
.containt img{
    width: 100%;
    height: 100%;
}
.album-name{
    font-weight: 600;
    color: white;
}
.date{
    color: white;
    font-size: 13px;
    font-weight: 300;
}



/*css for responsivness*/
@media screen and (max-width: 900px) {
    .carousel{
        margin-left: -1rem;
        height: 60%;
        width: 98%;
    }
    #queue{
        display: none;
    }
    #genre{
        /* margin-top: 1rem; */
        width: 99%;
        margin-left: 2px;
    }
    .diff-genre{
        width: 30%;
    }
    .containt-box{
        margin-left: 4rem;
    }
    .containt{
        display: block;
        margin-left: 1rem;
    }
    #latest-release{
        margin-top: 20%;
        width: 80%;
    }
    #lr-container{
        column-gap: 25px;
    }
    #popular-artist{
        width: 80%;
    }
    #diff-artist{
        margin-left: 1rem;
        width: 87%;
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }
    #diff-artist div{
        margin-left: 0.5rem;
        /* width: 87%; */
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
    }
    #new-hindi-release{
        display: block;
        width: 80%;
    }
    .section-heading{
        width: 70%;
    }
}
@media screen and (max-width: 750px) {
    .carousel{
        height: 40%;
        width: 100%;
    }
    .carousel-item > img {
        height: 25rem;
        transform: translate(-50%, -40%);
    }
    #lr-container{
        height: 60%;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        row-gap: 1.5rem;
        column-gap: 1rem;
    }
    #lr-container img{
        height: 50%;
        width: 50%;
    }
    .middle h3{
        margin-top: 1rem;
        margin-left: -1.2rem;
    }
    #popular-artist{
        display: none;
    }
    #genre{
        margin-top: 0.5rem;
    }
    .diff-genre{
        height: 55%;
    }
    #new-hindi-release{
        width: 80%;
        height: 40%;
        margin-top: -2rem;
    }
    .section-heading{
        font-size: 1rem;
    }
    .containt-box{
        margin-top: 1rem;
        margin-left: 2rem;
        flex-wrap: wrap;
    }
    .c-image{
        height: 38%;
        width: 50%;
    }
    .c-image img{
        height: 100%;
        width: 100%;
    }
}